dist/
src/activities/dist/
src/activities/**/bin/
src/activities/**/obj
src/contentServer/**/bin/
!src/contentServer/APIFunnel/bin/
src/contentServer/**/obj/
src/contentServer/**/packages/
**/node_modules/
src/js/**/public/**/js/
src/js/**/public/**/css/
*.bak
*.csproj.user
*.user
*.pubxml
*.pubxml.user
src/cep-lib/**/dist/
scripts/launch-site/local.config
npm-debug.log
.gitattributes
/src/contentServer/.vs/ContentServer/v14/.suo
scripts/watch/package-lock.json
src/cep-lib/package-lock.json

# seesion1
session1/src/node_modules
session1/src/package-lock.json

# seesion2
session2/src/node_modules
session2/src/package-lock.json
